.projects-header{
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.3ch;
    color: white;
    justify-content: center;
    padding: 3rem;
    align-items: center;
    text-align: center;
}
  

.swiper-wrapper{
/* padding: 3rem 0 3rem 0; */
  margin: 3rem 0 3rem 0;
}

.project-tile{
  display: flex;
  /* position: relative; */
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  padding: 3rem 0 0 0;
  background-color: var(--bg-primary);

}


.swiper-slide {
  height: unset !important;
  margin-bottom: 3rem;
}

.project-name{
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.3ch;
  background-color: white;
  border-radius: 0 0 2rem 2rem;
  padding: 2rem 0 2rem 0;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  color: var(--bg-primary);
  font-size: 2rem;
}

.project-img{

  width: 10rem;
  height: 10rem;
  border-radius: 3rem;
  

}

.swiper-button-prev{
    color: var(--swiper-theme-color);
}

@media only screen and (max-width: 900px) {
    .project-img{
        width: 4.5rem;
        border-radius: 0.5rem;
        
    }
    .project-name{
        font-size: 1rem;
    }
    .project-header{
        font-size: 0.1rem;

    }
    
}
  
  /* Large screens */
@media only screen and (min-width: 600px) {
    
}